body {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-flow: column wrap;
  color: black;
  background: white;

  margin: 0px;
}

/* css for header */

.header {
  display: flex;
  background: #1f2937;
  flex-flow: column wrap;
  padding: 12px;
}

.top-bar {
  font-size: 24px;
  flex: 1 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0px 150px;
  align-items: center;
}

.header .logo img {
  width: 150px;
}

.top-right {
  display: flex;
}

.header-content {
  display: flex;
  align-items: center;
  padding: 75px 150px;
  gap: 24px;
  justify-content: space-around;
}

.hero {
  display: flex;
  flex-flow: column wrap;
  flex: 1;
  gap: 16px;
}

.header img {
  width: 300px;
}

.hero-main-text {
  font-size: 48px;
  font-weight: 900;
  max-width: 500px;
  color: white;
}

.hero-sub-text {
  font-size: 18px;
  color: #e5e7eb;
  max-width: 550px;
}

button {
  border: solid white;
  background: #3882f6;
  color: #e5e7eb;
  width: 120px;
  height: 38px;

  /* for rounded corners */
  border-radius: 12px;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  gap: 16px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
  font-weight: 100;
  border-radius: 12px;
}

a:hover {
  box-shadow: 0 0 20px rgb(148, 148, 148);
}

/* best-moments css start */

#best-moments {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 75px 150px;
  gap: 32px;
}

.best-heading {
  font-size: 32px;
  font-weight: 700;
  color: black;
}

.best-content {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.moment {
  display: flex;
  flex-flow: column wrap;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.moment-text {
  text-align: center;
  max-width: 220px;
}

#best-moments img {
  width: 220px;
  height: 220px;
  border-radius: 2px;
  border-style: solid;
  border-radius: 8px;
}

/* best moment css end */

/*  */
#quote {
  background: #e5e7eb;
  height: 500px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 0px 150px;
}

.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  color: #1f2937a9;
}

.quote-author {
  font-size: 18px;
  font-weight: 700;
  align-self: flex-end;
  margin-right: 100px;
  width: auto;
}

/* quote section complete */

#sign-up {
  padding: 75px 125px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up-box {
  background: #176efb;
  flex: 1;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
}

.text {
  color: #e5e7eb;
}

.bold-text {
  font-weight: 700;
  font-size: 18px;
}

.plain-text {
  font-weight: 200;
  font-size: 14px;
}

#footer {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e5e7ebbd;
  background-color: #1f2937;
  font-size: 14px;
  font-weight: lighter;
}
